@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: url('images/bg-desktop-light.jpg'); background-repeat: no-repeat;
    display: flex;
}

.container {
    margin: auto;
    margin-top: 10%;
    width: min(90%, 500px);
}

#logo-toggle {
    display: flex;
    justify-content: space-between;
}

#logo {
    color: hsl(0, 0%, 98%);
    letter-spacing: 0.5em;
    margin-bottom: 3%;
}

.toggle-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Hide the default checkbox */
  .toggle-checkbox input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* Styles for the checkmark area */
  .checkmark {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
  }
  
  /* Styles for the icons */
  .unchecked-icon,
  .checked-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  /* Show the checked icon when the checkbox is checked */
  .toggle-checkbox input:checked ~ .checkmark .checked-icon {
    display: block;
  }
  
  /* Show the unchecked icon when the checkbox is unchecked */
  .toggle-checkbox input:not(:checked) ~ .checkmark .unchecked-icon {
    display: block;
  }


#task-form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 2% 4%;
    margin-bottom: 4%;
    background: #fff;
    border-radius: 5px;
}

#task-form #task-input {
    background: transparent;
    font-size: 1rem;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    width: 90%;
}

#task-form #add-btn {
    color: #357bfd;
    margin-left: auto;
    font-size: 1.25rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#todos {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: block;
}

#tasks {
    list-style: none;
    color: hsl(235, 21%, 11%);
}

.task {
    width: 100%;
    font-size: 1rem;
    padding: 2% 4%;
    padding-right: 8%;
    border-bottom: 1px solid hsl(236, 33%, 92%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mark-complete {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    margin-right: 5%;
    vertical-align: middle;
    border: 1px solid hsl(236, 33%, 92%);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.mark-complete:hover {
    background-color: hsl(192, 100%, 67%);
}

.mark-complete:checked {
    clip-path: circle(46% at 50% 50%);
    background-color: hsl(220, 98%, 61%);
}

.task .modify-task {
    margin-left: auto;
    font-size: 1.125rem;
    display: none;
    gap: 50%;
}

.task:hover .modify-task {
    display: flex;
}

.task .modify-task .modify-task-btn {
    text-decoration: none;
    color: #357bfd;
}

.task .modify-task .modify-task-btn:hover {
    color: hsl(192, 100%, 67%);
}

#task-form #add-btn:hover {
    color: hsl(192, 100%, 67%);
}

#task-count {
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(236, 9%, 61%);
}

#task-count .clr {
    text-decoration: none;
    color: hsl(236, 9%, 61%);
}

#task-count .clr:hover {
    color: #357bfd;
}

#task-count .clr i {
    font-size: 1.25rem;
    margin-left: 5px;
}